name: Build and Test React Application 

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
        
      - name: Install dependencies
        run: npm ci

      - name: Generate JSDoc
        run: npm run jsdoc

      - name: Run unit tests
        run: npm test

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          start: npm start
          wait-on: http://localhost:3000/tp-test-mock
          browser: chrome

      - name: Build project
        run: |
          npm run build
          mkdir -p build/docs
          cp -r public/docs/* build/docs/

      - name: Setup Pages
        uses: actions/configure-pages@v3
        
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build
          
  deploy:
    needs: build_test
    permissions: 
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    environment: 
      name: github-pages
    steps:
      - name: Deploy to Github Pages
        uses: actions/deploy-pages@v4